#resume {
    padding-top: 20px;
    margin: 14px 10px 10px 15px
}

.myName {
    font-size: 22pt;
    margin-top: 5px
}

.bulletSepList {
    margin-left: 10px
}

.bullet:before {
    content: "\25A0";
    margin-right: 3px;
    margin-left: 3px
}

#photo {
    height: 100px;
    flex: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5)
}

.affil {
    margin-top: -15px
}

.itemRole {
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    padding-left: 20pt
}

#urls a {
    padding-left: 3px
}

#nameAffil {
    margin-top: -10px;
    margin-left: 0px
}

.split-l-r>.left:before {
    content: "\2022";
    font-size: 12pt;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 3px
}

.itemLeft {
    flex-basis: 2
}

.itemAttrs {
    font-size: 10pt;
    text-align: right;
    flex-basis: none
}

#layout {
    padding-left: 160px;
    left: 0
}

#menu {
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    color: lightgrey;
    font-family: sans-serif
}

.pure-menu-item {
    font-size: 1.0em;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer
}

.pure-menu-selected {
    background-color: darkcyan;
    padding: 3px;
    margin-right: -4px
}

.split-l-r {
    margin-left: -30px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

#namePhoto {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align: initial;
    align-items: initial
}

body {
    margin: 20px;
    font-size: 10pt;
    margin-bottom: 5px;
    margin-top: 5px
}

#header {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: -10px
}

.itemName {
    color: darkcyan;
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 12px;
    margin-top,
    margin-bottom: 2px;
    font-size: 11pt;
    page-break-after: avoid;
}

.sectionHeader {
    /* color: darkslategrey; */
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 13pt;
    text-align: left;
}

/* <line separators> */

.sectionHeader {
    width: 100%;
    border-bottom: 1px solid #9e9e9e;
    line-height: 0.1em;
    z-index: -1
}

.sectionHeader span {
    color: rgb(75, 75, 75);
    background: #fff;
    padding-right: 15px;
    z-index: 1
}

/* </line separators> */

.item {
    page-break-inside: avoid;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: -10px
}

.itemDetails {
    margin-top: -6px;
    margin-bottom: 2px;
    margin-left: -10px
}

.detail {
    margin-top: 3px;
    margin-bottom: 3px
}

.link {
    font-weight: lighter;
    font-size: 9pt;
    margin-left: 20px;
    background: bisque
}

@media print {
    #resume {
        padding-top: 0px
    }