body {
    font-size: 10pt;
    margin-bottom: 5px;
    margin-top: 5px;
}

#header {
    margin-top: 10px;
    margin-bottom: -10px;
}

.itemName {
    margin-top,
    margin-bottom: 2px;
    font-size: 11pt;
}

.sectionHeader,
.itemName {
    /*color: black;*/
    page-break-after: avoid;
}

.sectionHeader {
    margin-top,
    margin-bottom: 20px;
    font-size: 11pt;
}

.item {
    margin-top: -10px;
}

.itemDetails {
    margin-top: -6px;
    margin-bottom: 2px;
    margin-left: -10px;
}

.detail {
    margin-top: 0px;
    margin-bottom: 0px;
}

.affil,
.myContactInfo,
.itemAttrs,
.right {
    font-size: 9pt;
}

.link {
    font-weight: lighter;
    font-size: 9pt;
    margin-left: 30px;
    background: bisque;
}

@media print {
    #resume {
        padding-top: 0px;
    }
}

/*

#header {
	margin-top: 30px;
}

#header {
    align-items: center;
    margin-top: 1px;
}

section#projects {
	page-break-after: always;
}

section#activities {
	page-break-inside: avoid;
}


h1 {
	font-size: 1.5em;
	margin: 0px;
}

h2, h3, h4 {
    font-size: 1em;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 8px;
}

ul, li {
	margin: 5px;
}

body {
	font-size: smaller;
	margin: 0px;
}

#photo {
	display: none;
}


*/